body{
   background-color:rgb(32, 32, 32)  ;
}
.pin{
    margin-left: 158px;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}

.imagem-grande {

    width: 497px;
    height: 300px;

}
.conjunto-pequena {

    display: flex;
    gap: 10px;
}
.imagem-pequena {

    width: 243px;
    height: 150px;

}
.ofertas{
    display: flex;
    gap: 15px;
    justify-content: center;
    
}
.conjuntoe {
    display: flex;
}

.reverso {
    flex-direction: column-reverse;
}
.valor-parte-pequena{

    margin-top: -20px;
    color: rgb(255, 255, 255);
}
.valor-parte-grande {
    margin-top: -20px;
    color: rgb(255, 255, 255);
}
.grande {
    margin-top: -2px;
    color: rgb(0, 102, 255);
}
.pequeno{
    margin-top: 10px;
    color: rgb(0, 102, 255);
}
.principal{
    display: flex;
    gap: 13px;
   justify-content: center;

}
.pequeno2 {

   margin-top: 10px;
   color: rgb(0, 102, 255);
}

.valor-parte-pequena2{
    color: rgb(255, 255, 255);
    margin-top: -20px;
}
.principal{
   margin-top: 50px;
}
.corridas{
    margin-left: 158px;
    color: rgb(255, 255, 255);

}
header{
    display: flex;
    justify-content: space-between;
    margin-right: 460px;
    align-items: center;
    padding: 30px;
    
}

.linkss{
   color: white;
   font-size: 23px;
}
.link{
    display: flex;
    gap: 20px;
}
.imagemsteam{
    margin-left: 129px;
}
.bora{
    
}
